# Laravel
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/public/storage
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log

# Next.js
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
